<h1 name="title" class="green" id="sec1">DIGITAL CLOCK</h1>
    <div class="clock green" id="sec2">
        <div>
            <span id="hour">00</span>
            <span class="text">Hours</span>
        </div>
        <div>
            <span id="minutes">00</span>
            <span class="text">Minutes</span>
        </div>
        <div>
            <span id="seconds">00</span>
            <span class="text">Seconds</span>
        </div>
        <div>
            <span id="am-pm">PM</span>
        </div>
    </div>
    <div class="weather-container green" id="sec3">
        <div class="forecast data1">
            <span><img src="/icons/cloudy.png" width="32" height="32" alt="forecast Icon"></span>
            <span>Forecast</span>
            <span class="fs-value">18 <sup>o</sup>C</span>
        </div>
        <div class="forecast data2">
            <span><i class="fa-solid fa-wind"></i></span>
            <span class="fs-value">23 mg</span>
        </div>
        <div class="forecast data3">
            <span><i class="fa-solid fa-car"></i></span>
            <span class="fs-value">34 v/s</span>
        </div>
        <div class="forecast data4">
            <span><i class="fa-solid fa-cloud"></i></span>
            <span class="fs-value">18 km/h</span>
        </div>
    </div>