<div>
    <button id="profile">
        <i class="fa-solid fa-user"></i>&nbsp;Load profile
    </button>
    </div>
        <div id="access">
            <input type="radio" name="tabs" id="login" checked>
            <label for="login" class="login-label"  name="login">Login</label>
            <div class="tab">
                <h1>Login</h1>
                <form id="logging-in">
                    <div>
                        <span class="form-icon"><i class="fa-solid fa-envelope" aria-hidden="true"></i></span>
                        <input type="email" name="email" placeholder="Email" required/>
                    </div>
                    <div>
                        <span class="form-icon"><i class="fa-solid fa-lock" aria-hidden="true"></i></span>
                        <input type="password" name="password" placeholder="Password" required/>
                    </div>
                    <button type="submit">
                        Login
                    </button>
                    <button type="button" class="close-access">
                        Cancel
                    </button>
                </form>
            </div>
                
            <input type="radio" name="tabs" id="register" >
            <label for="register" class="register-label"  name="register">Register</label>
            <div class="tab">
                <h1>Register</h1>
                <form id="registering">        
                    <div>
                        <span class="form-icon"><i class="fa-solid fa-user" aria-hidden="true"></i></span>
                        <input type="text" name="username" placeholder="Username" required/>
                    </div>
                    <div>
                        <span class="form-icon"><i class="fa-solid fa-envelope" aria-hidden="true"></i></span>
                        <input type="email" name="email" placeholder="Email" required/>
                    </div>
                    <div>
                        <span class="form-icon"><i class="fa-solid fa-lock" aria-hidden="true"></i></span>
                        <input type="password" name="password" placeholder="Password" required/>
                    </div>
                    <button type="submit">
                        Register
                    </button>
                    <button type="button" class="close-access">
                        Cancel
                    </button>
                </form>
            </div>
        </div>