<div class="rating-container">
        <div class="rating-icon">
            Rate here
        </div>
        <div class="star-tab">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fa-solid fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fa-solid fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fa-solid fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fa-solid fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fa-solid fa-star"></label>
            <form id="comment-form" action="#">
                <span></span>
                <div class="textarea">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your comment here..."></textarea>
                </div>
                <div class="button">
                    <button type="submit">
                        Send it
                    </button>
                </div>
            </form>
        </div>
    </div>