<div class="user-icon">
    <img src="/icons/user.ico" width="32" height="32" alt="User Profile Icon">
    <ul id="user-section">
        <li><button>Show profile</button></li>
        <li><button>Upload an avatar</button></li>
        <li><button>Upload a background</button></li>
        <li><button>Logout</button></li>
    </ul> 
</div>